/* Inter font family. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');


/* Application colors. */
:root {
	--blue: #265cff;
	--red: #ff2828;
	--primary: #1e1e1e;
	--secondary: #232323;
	--auxiliar: #4d4d4d;
	--highlight: #ffffff;
}

* {
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
}

html {
	background-color: var(--primary);
	color: var(--highlight);
	font-family: 'Inter', sans-serif;
	height: 100%;
}

body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 10% 10% auto 12%;
	height: 100%;
}





/* Grid container styles. */
#head {
	grid-row: 1/2;
	background-color: #1c52f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#instructions {
	grid-row: 2/4;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 2% 5% 2% 5%;
}

#info {
	grid-row: 2/3;
	font-size: 1.2rem;
	display: none;
	justify-content: center;
	align-items: center;
	margin: 2% 5% 2% 5%;

	transition: opacity 0.5s linear;
}

#map_display {
	grid-row: 3/4;
	border: 0.3rem solid var(--auxiliar);
	border-radius: 1rem;
	margin: 0 5% 0 5%;
	display: none;
}

#buttons {
	grid-row: 4/5;
	display: flex;
	justify-content: center;
	margin: 0 5% 0 5%;
	padding: 1rem 0 1rem 0;
}





/* Other elements styles. */
h1 {
	font-size: 2.3rem;
}

h2 {
	font-size: 1.8rem;
}

button {
	background-color: var(--blue);
	color: var(--highlight);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	cursor: pointer;
	width: 100%;
}

button:hover {
	background-color: var(--highlight);
	color: var(--blue);
}

button + button {
	margin-left: 1rem;
}

#cancel {
	background-color: var(--red);
	color: var(--highlight);
}

#cancel:hover {
	background-color: var(--highlight);
	color: var(--red);
}

#save, #cancel, #modify {
	display: none;
}

#instructions p {
	padding-top: 16px;
	line-height: 1.4rem;
}

#instructions b {
	color: var(--blue);
}

#modify, #save {
	margin-left: 0;
}

#modify {
	background-color: var(--auxiliar);
	color: var(--highlight);
}

#modify:hover {
	background-color: var(--highlight);
	color: var(--auxiliar);
}
